body,
html,
#root {
  height: 100%;
}

body {
  background-color: #0376CE;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* HEADER */
.modern-header-logo::after {
  position: absolute;
  top: 4px;
  left: 26px;
  content: "";
  height: 36px;
  width: 100px;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%20715%20213%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3Aserif%3D%22http%3A//www.serif.com/%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A2%3B%22%3E%0A%20%20%20%20%3CclipPath%20id%3D%22_clip1%22%3E%0A%20%20%20%20%20%20%20%20%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%22715.076%22%20height%3D%22213.379%22/%3E%0A%20%20%20%20%3C/clipPath%3E%0A%20%20%20%20%3Cg%20clip-path%3D%22url%28%23_clip1%29%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M697.439%2C15.899L697.439%2C10.749L700.876%2C10.749C702.633%2C10.749%20704.501%2C11.13%20704.501%2C13.191C704.501%2C15.749%20702.594%2C15.899%20700.457%2C15.899L697.439%2C15.899ZM697.439%2C18.037L700.34%2C18.037L704.73%2C25.252L707.557%2C25.252L702.822%2C17.923C705.265%2C17.615%20707.133%2C16.319%20707.133%2C13.344C707.133%2C10.059%20705.188%2C8.608%20701.26%2C8.608L694.924%2C8.608L694.924%2C25.253L697.441%2C25.253L697.439%2C18.037ZM688.738%2C16.891C688.738%2C10.059%20693.893%2C4.908%20700.496%2C4.908C707.022%2C4.908%20712.176%2C10.059%20712.176%2C16.891C712.176%2C23.84%20707.023%2C28.954%20700.496%2C28.954C693.894%2C28.954%20688.738%2C23.84%20688.738%2C16.891ZM700.496%2C31.359C708.36%2C31.359%20715.076%2C25.253%20715.076%2C16.891C715.076%2C8.608%20708.36%2C2.501%20700.496%2C2.501C692.555%2C2.501%20685.839%2C8.607%20685.839%2C16.891C685.839%2C25.252%20692.555%2C31.359%20700.496%2C31.359M166.365%2C211.041L282.686%2C211.041C358.913%2C209.814%20384.201%2C179.721%20384.201%2C153.931C384.201%2C118.932%20346.27%2C103.579%20315.924%2C99.281L315.924%2C98.664C331.098%2C94.674%20371.919%2C86.693%20371.919%2C52.609C371.919%2C4.71%20298.223%2C3.481%20277.991%2C3.481L166.365%2C3.481L166.365%2C11.158C182.981%2C12.078%20198.155%2C12.693%20198.155%2C32.96L198.155%2C181.566C198.155%2C200.295%20186.597%2C201.522%20166.365%2C203.367L166.365%2C211.041ZM255.956%2C27.739C256.317%2C20.677%20256.677%2C12.694%20275.1%2C12.694C304.364%2C12.694%20312.313%2C30.808%20312.313%2C52.303C312.313%2C83.623%20304.363%2C96.519%20255.956%2C96.519L255.956%2C27.739ZM255.956%2C105.728L266.793%2C105.728C290.273%2C106.651%20322.065%2C111.257%20322.065%2C155.162C322.065%2C173.892%20317.369%2C201.217%20277.63%2C201.217C262.457%2C201.217%20255.955%2C196.308%20255.955%2C182.487L255.955%2C105.728L255.956%2C105.728M159.827%2C65.075L159.827%2C0L149.146%2C0C147.367%2C5.698%20145.588%2C10.194%20137.402%2C10.194C127.078%2C10.194%20110.347%2C0.3%2081.871%2C0.3C14.237%2C0.3%203.205%2C41.085%203.205%2C59.377C3.205%2C73.171%203.205%2C98.96%2064.073%2C123.554L87.923%2C133.146C111.06%2C142.441%20127.79%2C149.638%20127.79%2C169.731C127.79%2C173.628%20126.011%2C203.318%2083.295%2C203.318C38.087%2C203.318%2017.443%2C169.434%2010.324%2C139.146L0%2C139.146L0%2C213.216L10.324%2C213.216C11.745%2C208.418%2013.526%2C203.021%2021.001%2C203.021C32.038%2C203.021%2048.053%2C213.216%2081.871%2C213.216C147.367%2C213.216%20170.15%2C176.927%20170.15%2C150.537C170.15%2C117.855%20143.097%2C100.459%20130.995%2C95.364L78.667%2C73.472C48.768%2C60.877%2042.003%2C54.279%2042.003%2C38.086C42.003%2C18.595%2061.581%2C9.596%2080.092%2C9.596C122.093%2C9.596%20143.452%2C44.084%20149.859%2C65.075L159.827%2C65.075M553.173%2C138.494L544.705%2C138.494C531.274%2C173.015%20524.818%2C198.374%20480.732%2C198.374C461.169%2C198.374%20459.539%2C199.129%20459.539%2C184.461L459.539%2C40.254C459.539%2C13.368%20474.98%2C9.866%20495.419%2C8.949L495.419%2C1.312L372.441%2C1.312L372.441%2C8.95C385.581%2C9.867%20403.941%2C13.676%20403.941%2C33.839L403.941%2C181.713C403.941%2C200.352%20388.792%2C201.266%20372.441%2C203.407L372.441%2C211.042L541.203%2C211.042L553.173%2C138.494M641.755%2C175.288L641.755%2C40.494C641.755%2C13.607%20657.196%2C10.103%20677.635%2C9.188L677.635%2C1.548L554.657%2C1.548L554.657%2C9.188C567.796%2C10.103%20586.157%2C13.911%20586.157%2C34.075C586.157%2C34.075%20585.957%2C173.845%20586.157%2C173.845L586.157%2C178.521C586.157%2C198.682%20567.796%2C202.488%20554.657%2C203.408L554.657%2C211.043L677.635%2C211.043L677.635%2C203.408C657.352%2C202.498%20641.989%2C199.043%20641.76%2C172.705L641.755%2C175.288M0%2C273.832L0%2C266.562L66.3%2C266.562L66.3%2C273.832L0%2C273.832ZM611.418%2C273.832L611.418%2C266.562L677.72%2C266.562L677.72%2C273.832L611.418%2C273.832ZM128.02%2C275.552C127.086%2C273.711%20125.733%2C272.119%20124.067%2C270.9C121.434%2C269.079%20118.589%2C267.588%20115.592%2C266.461C113.133%2C265.54%20110.755%2C264.417%20108.479%2C263.107C107.339%2C262.428%20106.37%2C261.502%20105.641%2C260.393C105.043%2C259.342%20104.745%2C258.143%20104.779%2C256.934C104.719%2C255.106%20105.515%2C253.353%20106.933%2C252.196C108.766%2C250.883%20111.002%2C250.247%20113.253%2C250.405C117.57%2C250.552%20121.818%2C251.542%20125.754%2C253.317L128.498%2C246.374C123.775%2C244.255%20118.663%2C243.144%20113.485%2C243.111C109.002%2C242.875%20104.575%2C244.192%20100.95%2C246.84C97.846%2C249.302%2096.109%2C253.104%2096.28%2C257.061C96.197%2C260.273%2097.24%2C263.412%2099.227%2C265.934C101.998%2C268.943%20105.482%2C271.2%20109.356%2C272.5C112.645%2C273.617%20115.74%2C275.235%20118.535%2C277.3C119.969%2C278.535%20120.784%2C280.344%20120.763%2C282.234C120.832%2C284.243%20119.93%2C286.157%20118.337%2C287.381C116.108%2C288.829%20113.464%2C289.505%20110.812%2C289.295C108.276%2C289.268%20105.75%2C288.947%20103.288%2C288.338C100.66%2C287.722%2098.103%2C286.841%2095.654%2C285.71L95.654%2C293.738C100.251%2C295.722%20105.233%2C296.656%20110.236%2C296.473C115.203%2C296.758%20120.123%2C295.375%20124.207%2C292.535C127.568%2C289.953%20129.46%2C285.893%20129.275%2C281.661C129.325%2C279.556%20128.896%2C277.466%20128.02%2C275.552ZM159.794%2C295.748L159.794%2C243.856L151.208%2C243.856L151.208%2C295.752L159.794%2C295.752L159.794%2C295.748ZM229.174%2C243.857L221.306%2C243.857L221.306%2C271.032C221.306%2C272.949%20221.378%2C275.618%20221.52%2C279.036C221.664%2C282.457%20221.759%2C284.439%20221.809%2C284.983L221.594%2C284.983L195.841%2C243.857L185.44%2C243.857L185.44%2C295.753L193.235%2C295.753L193.235%2C268.777C193.235%2C265.133%20193.066%2C261.107%20192.731%2C256.701L192.55%2C254.391L192.838%2C254.391L218.649%2C295.752L229.174%2C295.752L229.174%2C243.857ZM283.377%2C251.327C285.295%2C251.932%20287.173%2C252.663%20288.998%2C253.509L292.088%2C246.432C287.455%2C244.191%20282.365%2C243.047%20277.218%2C243.097C272.569%2C242.985%20267.974%2C244.099%20263.891%2C246.327C260.12%2C248.47%20257.092%2C251.713%20255.219%2C255.629C253.137%2C260.055%20252.111%2C264.9%20252.219%2C269.79C251.745%2C276.912%20253.949%2C283.957%20258.397%2C289.543C262.992%2C294.342%20269.473%2C296.868%20276.105%2C296.446C280.876%2C296.521%20285.62%2C295.739%20290.113%2C294.136L290.113%2C286.874C287.862%2C287.56%20285.695%2C288.12%20283.611%2C288.552C281.485%2C288.998%20279.318%2C289.221%20277.145%2C289.221C272.665%2C289.506%20268.307%2C287.698%20265.345%2C284.323C262.344%2C280.133%20260.902%2C275.021%20261.269%2C269.878C260.971%2C264.76%20262.47%2C259.701%20265.507%2C255.573C268.351%2C252.106%20272.664%2C250.186%20277.145%2C250.389C279.257%2C250.379%20281.361%2C250.695%20283.377%2C251.327ZM342.887%2C288.54L321.78%2C288.54L321.78%2C272.267L341.573%2C272.267L341.573%2C265.15L321.78%2C265.15L321.78%2C251.026L342.887%2C251.026L342.887%2C243.857L313.194%2C243.857L313.194%2C295.753L342.887%2C295.753L342.887%2C288.54ZM417.966%2C243.85L410.921%2C243.85L395.486%2C255.849L399.722%2C261.136C404.295%2C257.466%20406.979%2C255.291%20407.775%2C254.603C408.572%2C253.918%20409.243%2C253.292%20409.788%2C252.723C409.598%2C255.065%20409.499%2C258.233%20409.506%2C262.234L409.506%2C295.753L417.94%2C295.753L417.94%2C243.857L417.966%2C243.85ZM480.198%2C253.702C478.881%2C250.514%20476.643%2C247.788%20473.768%2C245.875C470.846%2C244.04%20467.449%2C243.109%20463.999%2C243.191C459.313%2C242.945%20454.739%2C244.692%20451.41%2C247.998C448.213%2C251.526%20446.552%2C256.183%20446.794%2C260.936C446.548%2C265.231%20447.977%2C269.451%20450.781%2C272.718C453.641%2C275.663%20457.635%2C277.229%20461.737%2C277.013C464.156%2C277.066%20466.553%2C276.58%20468.755%2C275.591C470.857%2C274.559%20472.629%2C272.963%20473.877%2C270.978L474.306%2C270.978C474.496%2C276.128%20472.871%2C281.173%20469.706%2C285.237C466.298%2C288.501%20461.659%2C290.155%20456.957%2C289.781C454.785%2C289.778%20452.623%2C289.48%20450.529%2C288.894L450.529%2C295.885C452.783%2C296.343%20455.087%2C296.534%20457.386%2C296.452C464.49%2C296.982%20471.442%2C294.19%20476.205%2C288.893C480.372%2C283.853%20482.456%2C276.219%20482.456%2C265.997C482.568%2C261.787%20481.802%2C257.597%20480.206%2C253.701L480.198%2C253.701L480.198%2C253.702ZM469.242%2C251.687C470.767%2C252.808%20471.968%2C254.316%20472.708%2C256.051C473.54%2C257.908%20473.963%2C259.924%20473.946%2C261.959C473.92%2C264.262%20472.852%2C266.431%20471.037%2C267.85C469.038%2C269.55%20466.479%2C270.452%20463.855%2C270.37C461.388%2C270.56%20458.966%2C269.629%20457.265%2C267.831C455.719%2C265.849%20454.946%2C263.368%20455.093%2C260.855C454.92%2C258.018%20455.748%2C255.209%20457.439%2C252.926C459.117%2C250.988%20461.597%2C249.947%20464.149%2C250.102C465.977%2C250.076%20467.766%2C250.632%20469.254%2C251.701L469.242%2C251.687ZM531.763%2C249.846C526.278%2C242.396%20515.796%2C240.806%20508.349%2C246.287C507.094%2C247.211%20505.974%2C248.307%20505.02%2C249.541C502.091%2C253.886%20500.624%2C260.635%20500.624%2C269.793C500.182%2C276.72%20501.755%2C283.622%20505.152%2C289.674C510.646%2C297.098%20521.124%2C298.665%20528.552%2C293.166C529.813%2C292.236%20530.937%2C291.129%20531.89%2C289.883C534.823%2C285.507%20536.29%2C278.81%20536.29%2C269.793C536.732%2C262.853%20535.166%2C255.927%20531.775%2C249.853L531.763%2C249.846ZM511.38%2C254.603C513.106%2C250.705%20517.66%2C248.942%20521.56%2C250.665C523.342%2C251.458%20524.764%2C252.894%20525.531%2C254.688C527.313%2C259.511%20528.08%2C264.653%20527.779%2C269.786C528.087%2C274.921%20527.323%2C280.061%20525.531%2C284.885C523.795%2C288.803%20519.215%2C290.569%20515.296%2C288.833C513.56%2C288.062%20512.17%2C286.684%20511.381%2C284.956C509.609%2C280.111%20508.855%2C274.951%20509.175%2C269.801C508.861%2C264.637%20509.618%2C259.466%20511.391%2C254.611L511.38%2C254.603ZM569.546%2C295.752L590.2%2C249.75L590.2%2C243.926L553.888%2C243.926L553.888%2C251.275L581.184%2C251.275L560.425%2C295.753L569.546%2C295.753L569.546%2C295.752Z%22%20style%3D%22fill%3Awhite%3Bfill-rule%3Anonzero%3B%22/%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E%0A');
  background-repeat: no-repeat;
}

.modern-header-logo {
  position: relative;
  margin-right: 20px;
  min-width: 120px;
  padding-left: 16px;
}

.modern-header-text {
  max-width: calc(100% - 130px);
  min-width: 180px;
  padding-right: 16px;
  display: flex;
  align-items: center;
}

.modern-header-container {
  display: flex;
  height: 40px;
}

.modern-header-text>h1 {
  color: #fff;
  font-size: 1.1rem;
  font-family: 'Assistant', sans-serif;
  line-height: initial;
  margin: 0;
  text-wrap: balance;
}

#TopPane {
  display: flex;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 11;
  width: 100%;
  background: #0376CE;
  min-height: 90px;
}

/* END OF HEADER */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-pane-header {
  color: #0f2f6f;
  background-color: #fff;
  max-width: 850px;
  margin: 60px auto -2px;
  border-radius: 0 50px 0 0;
  padding: 50px 4% 0 4%;
  display: block !important;
}

.main-pane-header>h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: auto;
}

.main-pane-questions {
  background-color: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(146, 157, 191, 0.05);
  border-radius: 0 0 0 50px;
  margin: -1px auto 0;
  max-width: 850px;
  border: 0;
  padding: 25px 4% 50px 4% !important;
  margin-bottom: 25px;
}

#MainPane {
  padding-left: 5%;
  padding-right: 5%;
  line-height: 22px;
  font-size: 18px !important;
}

.form-check {
  display: flex;
  align-items: center;
  padding-left: calc(var(--bs-gutter-x) * .5);
}

.form-check .form-check-input {
  margin-top: 0;
  margin-left: 0;
  margin-right: 10px;
}

.ctrl-layout {
  margin: 9px 0;
}

.ctrl-label-layout {
  margin-bottom: 5px;
}

label.question-text {
  color: #0376CE !important;
  font-weight: 600;
}

.dropdown button {
  background-color: var(--bs-body-bg) !important;
  background-clip: padding-box !important;
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
  border-radius: var(--bs-border-radius) !important;
}

a.dropdown-item {
  text-wrap: wrap;
}

label.subTitle {
  font-weight: 600;
  margin: 9px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}